![<img src="assets/llamero-logo.jpg" height="250"/>](assets/llamero-logo.jpg)

# {{ project.name }}

{# Include each section template in the pre-determined order #}
{% for template in templates %}
{% include "sections/" ~ template %}

{% endfor %}
